<mat-toolbar color="primary">
   <span>
    My App
  </span>

  <ul class="nav-list">
    <li>
      <a [routerLink]="[ '/' ]" >Post List</a>
    </li>
  </ul>
  <ul class="nav-list right-align">

    <li>
      <a mat-stroked-button class="btn-create" [routerLink]="[ '/create' ]" >New Post</a>
    </li>
    <li>
      <a mat-stroked-button class="btn-create" [routerLink]="[ '/login' ]" >login</a>
    </li>
    <li>
      <a mat-stroked-button class="btn-create" [routerLink]="[ '/signup' ]" >sginup</a>
    </li>
  </ul>
</mat-toolbar>