<mat-card class="mat1">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form action="" [formGroup]="form" (submit)="onSavePost()"   *ngIf="!isLoading">
   
    <mat-form-field class="example-full-width">
      <input id="" matInput placeholder="Post Title"
        name="title"
        formControlName="title"
         >
    </mat-form-field>
   
    <mat-error *ngIf="form.get('title').invalid">   please enter message. </mat-error>
   
    <div>
        <button type="button" mat-stroked-button  (click)="imageInput.click()">Pick image</button> 
        <input type="file" #imageInput class="imgInput" (change)="onImagePicked($event)" >
    </div>
     <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
       <img [src]="imagePreview" [alt]="this.form.title"  >
     </div> 

    <mat-form-field class="example-full-width">
      <textarea id="" matInput
      formControlName="content"
       placeholder="Post Conetent" 
       name="content" 
       rows="6" ></textarea>

      <mat-error *ngIf="form.get('content').invalid">   please enter message. </mat-error>

    </mat-form-field>


    <button type="submit" color="primary" mat-raised-button>Save</button>

  </form>
</mat-card>