<mat-card class="mat1">
  <form action="" (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field class="example-full-width">
      <input id="" matInput placeholder="Post Title"
       ngModel
        name="title"
         required     
         #title="ngModel"
         >
    </mat-form-field>
    <mat-error *ngIf="title.invalid">   please enter message. </mat-error>
    <mat-form-field class="example-full-width">
      <textarea id="" matInput placeholder="Post Conetent"
       ngModel name="content" rows="6"
        required #content="ngModel" ></textarea>

      <mat-error *ngIf="content.invalid">   please enter message. </mat-error>

    </mat-form-field>


    <button type="submit" color="primary" mat-raised-button>Save</button>

  </form>
</mat-card>